/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fdfff7;
  color: #0b0101;
  line-height: 1.5;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #9ed7f9;
  border-bottom: 1px solid #3f9907;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn.green:hover {
  background: #00a96e;
}

/* Container */
.container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

/* Title Section */
.title-section h1 {
  font-size: 2rem;
  margin-bottom: 5px;
}


/* Score Summary */
.score-summary {
  display: flex;
  justify-content: space-around;
  background:#ffa400;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
}

.score-box .big-score {
  font-size: 3rem;
  color: #2a2a72;
  margin-bottom: 5px;
}

.small-text {
  font-size: 0.8rem;
  color: #aaa;
}

/* Report Details */
.report-details {
  margin-top: 25px;
}

.report-details .description {
  margin-top: 10px;
  color: #ddd;
  font-size: 0.9rem;
}

/* Metrics Section */
.metrics {
  margin-top: 30px;
}

.metric {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.metric-title {
  width: 150px;
  font-size: 1rem;
}

.progress-bar {
  flex: 1;
  height: 10px;
  background: #333;
  margin: 0 15px;
  border-radius: 6px;
  overflow: hidden;
}

.fill {
  height: 100%;
}

.fill.yellow {
  background: #ffc107;
}

.fill.blue {
  background: #2196f3;
}

.metric-score {
  width: 40px;
  text-align: right;
  font-weight: bold;
  font-size: 1rem;
}

/* Footer Note */
.footer-note {
  text-align: center;
    padding: 10px;
    background: #2a2a72;
    border-radius: 8px;
    font-size: 0.9rem;
    color: #f5f7f8;
    margin-top: 220px; /* This pushes it to the bottom */
    width: 100%;
}
